@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

:root {
  /* Couleurs principales */
  --color-background: #004643; /* Fond principal */
  --color-headline: #fffffe;   /* Titres / Headline */
  --color-paragraph: #abd1c6;  /* Texte des paragraphes */

  /* Couleurs boutons */
  --color-button: #f9bc60;     /* Fond des boutons */
  --color-button-text: #001e1d;/* Texte des boutons */
}
/* Style texte personnalisé */
.custom-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
  color: var(--color-headline);
}

body {
  background-color: var(--color-background);
  color: var(--color-paragraph);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  background-color: var(--color-background);
  color: var(--color-paragraph);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
